.about-text>h1 {
    padding-left: 10px;
    padding-top: 15px;
    color: #82705F;
    margin-bottom: 15px;
}

.about-text>p {
    padding-left: 20px;
    color: #82705F;
    margin-bottom: 30px;
}

